.menu-button {
    -fx-background-color: #F5F7FA;
    -fx-text-fill: #404463;
    -fx-background-radius: 10;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12px;
    -fx-padding: 10px 20px;

    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}


.menu-button:hover {
    -fx-background-color: #E0E4E9;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-cursor: hand;
}


.menu-button:pressed {
    -fx-background-color: #E0E4E9;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}


.menu-button-selected {
    -fx-background-color: #0338D5;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12px;
    -fx-padding: 10px 20px;
}



/* Estilo para el botón de "Agregar" */
.add-button {
    -fx-background-color: #3366FF;
    -fx-background-radius: 10;
    -fx-text-fill: WHITE;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14.0;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón */
.add-button:hover {
    -fx-background-color: #2B53CB; /* Un azul un poco más claro */
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* Efecto al presionar el botón */
.add-button:pressed {
    -fx-background-color: #2652C7; /* Un azul más oscuro */
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}




/* Estilo para el botón de búsqueda */
.search-button {
    -fx-background-color: #C6CFE2;
    -fx-background-radius: 5;
    -fx-text-fill: #404463; /* Color de texto oscuro para que se vea el emoji */
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón */
.search-button:hover {
    -fx-background-color: #98A3C5; /* Un tono de gris ligeramente más oscuro */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Efecto al presionar el botón */
.search-button:pressed {
    -fx-background-color: #98A3C5; /* Un tono de gris más oscuro */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}



/* Estilo para el botón de "Eliminar" */
.delete-button {
    -fx-background-color: #FFA0A0; /* El color rojo base */
    -fx-background-radius: 10;
    -fx-text-fill: #404463;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón (solo si no está deshabilitado) */
.delete-button:hover {
    -fx-background-color: #FF8383; /* Un rojo más claro */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Efecto al presionar el botón (solo si no está deshabilitado) */
.delete-button:pressed {
    -fx-background-color: #FF8383; /* Un rojo más oscuro */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Estilo para cuando el botón está deshabilitado */
.delete-button:disabled {
    -fx-background-color: #FFC0C0; /* Un gris para indicar que no se puede usar */
    -fx-opacity: 0.6; /* Lo hace un poco transparente */
    -fx-cursor: default;
}


/* Estilo para el botón de "Editar" */
.update-button {
    -fx-background-color: #A8D095; /* El color rojo base */
    -fx-background-radius: 10;
    -fx-text-fill: #404463;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón (solo si no está deshabilitado) */
.update-button:hover {
    -fx-background-color: #9AC385; /* Un rojo más claro */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Efecto al presionar el botón (solo si no está deshabilitado) */
.update-button:pressed {
    -fx-background-color: #9AC385; /* Un rojo más oscuro */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Estilo para cuando el botón está deshabilitado */
.update-button:disabled {
    -fx-background-color: #BFDCB0; /* Un gris para indicar que no se puede usar */
    -fx-opacity: 0.6; /* Lo hace un poco transparente */
    -fx-cursor: default;
}





/* Estilo para el botón de "regreso" */
.regreso-button {
    -fx-background-color: #0033CC; /* El color rojo base */
    -fx-background-radius: 10;
    -fx-text-fill: #404463;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón (solo si no está deshabilitado) */
.regreso-button:hover {
    -fx-background-color: #022796; /* Un rojo más claro */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Efecto al presionar el botón (solo si no está deshabilitado) */
.regreso-button:pressed {
    -fx-background-color: #022796; /* Un rojo más oscuro */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Estilo para cuando el botón está deshabilitado */
.regreso-button:disabled {
    -fx-background-color: #2053ED; /* Un gris para indicar que no se puede usar */
    -fx-opacity: 0.6; /* Lo hace un poco transparente */
    -fx-cursor: default;
}





/* Estilo para el botón de "descarga" */
.descarga-button {
    -fx-background-color: #557EF8; /* El color rojo base */
    -fx-background-radius: 10;
    -fx-text-fill: #404463;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón (solo si no está deshabilitado) */
.descarga-button:hover {
    -fx-background-color: #3C6DFF; /* Un rojo más claro */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Efecto al presionar el botón (solo si no está deshabilitado) */
.descarga-button:pressed {
    -fx-background-color: #3C6DFF; /* Un rojo más oscuro */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Estilo para cuando el botón está deshabilitado */
.descarga-button:disabled {
    -fx-background-color: #7396FF; /* Un gris para indicar que no se puede usar */
    -fx-opacity: 0.6; /* Lo hace un poco transparente */
    -fx-cursor: default;
}




/* Estilo para el botón de "Descargar" */
.download-button {
    -fx-background-color: #B2BCDB; /* El color claro base */
    -fx-background-radius: 10;
    -fx-text-fill: #0033CC;       /* El color de texto azul oscuro */
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14.0;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón */
.download-button:hover {
    -fx-background-color: #6C91FF; /* Un tono más claro del color base */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Efecto al presionar el botón */
.download-button:pressed {
    -fx-background-color: #6C91FF; /* Un tono más oscuro del color base */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}










/* Estilo para el botón de "Descargar seleccionado" */
.download-selected-button {
    -fx-background-color: #B2BCDB; /* El color claro base */
    -fx-background-radius: 10;
    -fx-text-fill: #0033CC;       /* El color de texto azul oscuro */
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14.0;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón (solo si está habilitado) */
.download-selected-button:hover {
    -fx-background-color: #6C91FF; /* Un tono más claro del color base */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Efecto al presionar el botón (solo si está habilitado) */
.download-selected-button:pressed {
    -fx-background-color: #6C91FF; /* Un tono más oscuro del color base */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Estilo para cuando el botón está deshabilitado */
.download-selected-button:disabled {
    -fx-background-color: #B2BCDB;
    -fx-opacity: 0.5; /* Lo hace un poco transparente para indicar que está inactivo */
    -fx-cursor: default;
}


/* Estilo para el botón de "Iniciar sesión" */
.login-button {
    -fx-background-color: #013AE4; /* El tono azul base */
    -fx-background-radius: 10;
    -fx-text-fill: WHITE;          /* Texto en blanco */
    -fx-font-size: 14.0;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón */
.login-button:hover {
    -fx-background-color: #0132B4; /* Un tono de azul un poco más oscuro */
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* Efecto al presionar el botón */
.login-button:pressed {
    -fx-background-color: #012891; /* Un tono de azul más oscuro para simular el clic */
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}






/* Estilo para el botón de "Guardar" usando su ID */
#btnGuardar {
    -fx-background-color: #013AE4; /* El tono azul base */
    -fx-background-radius: 10;
    -fx-text-fill: WHITE;          /* Texto en blanco */
    -fx-font-size: 14.0;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón */
#btnGuardar:hover {
    -fx-background-color: #0132B4; /* Un tono de azul un poco más oscuro */
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* Efecto al presionar el botón */
#btnGuardar:pressed {
    -fx-background-color: #012891; /* Un tono de azul más oscuro para simular el clic */
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}




/* Estilo para el botón de "Cancelar" usando su ID */
#btnCancelar {
    -fx-background-color: #B8B7C0; /* El tono de gris base */
    -fx-background-radius: 10;
    -fx-text-fill: #404463;       /* El color de texto gris oscuro */
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14.0;
    -fx-cursor: hand;

    /* Define la animación para el cambio de color y escala */
    -fx-transition: -fx-background-color 0.2s ease, -fx-scale-x 0.2s ease, -fx-scale-y 0.2s ease;
}

/* Efecto al pasar el ratón sobre el botón */
#btnCancelar:hover {
    -fx-background-color: #A9A8B5; /* Un tono de gris un poco más oscuro */
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* Efecto al presionar el botón */
#btnCancelar:pressed {
    -fx-background-color: #9C9B9F; /* Un tono de gris más oscuro para simular el clic */
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

